In [1]:
import pandas as pd
import holidays

In [2]:
dataset = pd.read_csv('./dataset/weatherwithtripcount.csv')

In [5]:
dataset['events'].unique()

array([nan, 'Fog', 'Rain', 'Fog-Rain', 'rain', 'Rain-Thunderstorm'],
      dtype=object)

In [18]:
def isRain(r):
    e_c = str(r['events'])
    if 'Rain' in e_c or 'rain' in e_c:
        return 1
    return 0

def isFog(r):
    e_c = str(r['events'])
    if 'Fog' in e_c:
        return 1
    return 0

def isThunderstorm(r):
    e_c = str(r['events'])
    if 'Thunderstorm' in e_c:
        return 1
    return 0

In [19]:
dataset['isRain'] = dataset.apply(isRain,axis=1)
dataset['isFog'] = dataset.apply(isFog,axis=1)
dataset['isThunderstorm'] = dataset.apply(isThunderstorm,axis=1)

In [24]:
dataset[dataset['events'].notna()]

,Unnamed: 0,date,max_temperature_f,mean_temperature_f,min_temperature_f,max_dew_point_f,mean_dew_point_f,min_dew_point_f,max_humidity,mean_humidity,...,max_gust_speed_mph,precipitation_inches,cloud_cover,events,wind_dir_degrees,zip_code,trip_count,isRain,isFog,isThunderstorm
14,14,2013-09-12,71.0,65.0,59.0,58.0,57.0,55.0,84.0,73.0,...,30.0,0,7.0,Fog,268.0,94107,855,0,1,0
23,23,2013-09-21,68.0,63.0,58.0,59.0,56.0,53.0,90.0,75.0,...,28.0,0.23,6.0,Rain,218.0,94107,317,1,0,0
32,32,2013-09-30,73.0,66.0,59.0,60.0,57.0,43.0,87.0,69.0,...,26.0,T,4.0,Fog,264.0,94107,891,0,1,0
44,44,2013-10-12,64.0,56.0,47.0,50.0,46.0,42.0,89.0,71.0,...,40.0,0,3.0,Fog,252.0,94107,608,0,1,0
52,52,2013-10-20,64.0,57.0,49.0,52.0,47.0,45.0,93.0,77.0,...,26.0,0,2.0,Fog,290.0,94107,390,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5377,5377,2016-05-06,61.0,58.0,54.0,55.0,51.0,49.0,87.0,76.0,...,19.0,0.17,7.0,Rain,109.0,95113,29,1,0,0
5378,5378,2016-05-07,65.0,60.0,54.0,54.0,51.0,50.0,89.0,75.0,...,20.0,0.01,6.0,Rain,147.0,95113,32,1,0,0
5380,5380,2016-05-09,72.0,64.0,56.0,54.0,52.0,51.0,93.0,73.0,...,23.0,T,5.0,Rain,321.0,95113,52,1,0,0
5392,5392,2016-05-21,63.0,58.0,52.0,50.0,46.0,43.0,72.0,62.0,...,14.0,0.14,6.0,Rain,274.0,95113,24,1,0,0
5416,5416,2016-06-14,72.0,63.0,54.0,46.0,44.0,40.0,67.0,52.0,...,29.0,0,3.0,Rain,298.0,95113,74,1,0,0

In [28]:
dataset.drop(['Unnamed: 0', 'precipitation_inches', 'events', 'wind_dir_degrees'], axis=1,inplace=True)

In [29]:
dataset.columns

Index(['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f',
       'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f',
       'max_humidity', 'mean_humidity', 'min_humidity',
       'max_sea_level_pressure_inches', 'mean_sea_level_pressure_inches',
       'min_sea_level_pressure_inches', 'max_visibility_miles',
       'mean_visibility_miles', 'min_visibility_miles', 'max_wind_Speed_mph',
       'mean_wind_speed_mph', 'max_gust_speed_mph', 'cloud_cover', 'zip_code',
       'trip_count', 'isRain', 'isFog', 'isThunderstorm'],
      dtype='object')

In [34]:
import datetime
weekdays=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
def weekday(r):
    d = r['date']
    i = datetime.datetime.strptime(d,"%Y-%m-%d").weekday()
    return weekdays[i]

In [36]:
dataset['Weekday'] = dataset.apply(weekday, axis=1)

In [40]:
us_holidays=holidays.US()
def holiday(r):
    d = r['date']
    h = us_holidays.get(d)
    if h is not None:
        return h
    else:
        return 'None'

In [42]:
dataset['Holiday'] = dataset.apply(holiday, axis=1)

In [43]:
dataset

,date,max_temperature_f,mean_temperature_f,min_temperature_f,max_dew_point_f,mean_dew_point_f,min_dew_point_f,max_humidity,mean_humidity,min_humidity,...,mean_wind_speed_mph,max_gust_speed_mph,cloud_cover,zip_code,trip_count,isRain,isFog,isThunderstorm,Weekday,Holiday
0,2013-08-29,74.0,68.0,61.0,61.0,58.0,56.0,93.0,75.0,57.0,...,11.0,28.0,4.0,94107,642,0,0,0,Thursday,None
1,2013-08-30,78.0,69.0,60.0,61.0,58.0,56.0,90.0,70.0,50.0,...,13.0,35.0,2.0,94107,606,0,0,0,Friday,None
2,2013-08-31,71.0,64.0,57.0,57.0,56.0,54.0,93.0,75.0,57.0,...,15.0,31.0,4.0,94107,557,0,0,0,Saturday,None
3,2013-09-01,74.0,66.0,58.0,60.0,56.0,53.0,87.0,68.0,49.0,...,13.0,29.0,4.0,94107,601,0,0,0,Sunday,None
4,2013-09-02,75.0,69.0,62.0,61.0,60.0,58.0,93.0,77.0,61.0,...,12.0,30.0,6.0,94107,594,0,0,0,Monday,Labor Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5490,2016-08-27,78.0,70.0,61.0,56.0,54.0,53.0,72.0,59.0,46.0,...,7.0,20.0,4.0,95113,18,0,0,0,Saturday,None
5491,2016-08-28,79.0,70.0,60.0,56.0,55.0,54.0,84.0,65.0,45.0,...,7.0,21.0,4.0,95113,26,0,0,0,Sunday,None
5492,2016-08-29,76.0,68.0,60.0,55.0,54.0,53.0,78.0,64.0,49.0,...,10.0,26.0,6.0,95113,48,0,0,0,Monday,None
5493,2016-08-30,81.0,70.0,59.0,56.0,54.0,52.0,78.0,60.0,42.0,...,6.0,23.0,2.0,95113,56,0,0,0,Tuesday,None
5494,2016-08-31,78.0,69.0,60.0,57.0,55.0,52.0,84.0,64.0,43.0,...,9.0,24.0,1.0,95113,55,0,0,0,Wednesday,None

In [46]:
dataset = pd.get_dummies(dataset,columns=['zip_code', 'Weekday', 'Holiday'])

In [48]:
dataset_nodate = dataset.drop(['date'], axis=1)

In [52]:
dataset_nodate.columns

Index(['max_temperature_f', 'mean_temperature_f', 'min_temperature_f',
       'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f',
       'max_humidity', 'mean_humidity', 'min_humidity',
       'max_sea_level_pressure_inches', 'mean_sea_level_pressure_inches',
       'min_sea_level_pressure_inches', 'max_visibility_miles',
       'mean_visibility_miles', 'min_visibility_miles', 'max_wind_Speed_mph',
       'mean_wind_speed_mph', 'max_gust_speed_mph', 'cloud_cover',
       'trip_count', 'isRain', 'isFog', 'isThunderstorm', 'zip_code_94041',
       'zip_code_94063', 'zip_code_94107', 'zip_code_94301', 'zip_code_95113',
       'Weekday_Friday', 'Weekday_Monday', 'Weekday_Saturday',
       'Weekday_Sunday', 'Weekday_Thursday', 'Weekday_Tuesday',
       'Weekday_Wednesday', 'Holiday_Christmas Day', 'Holiday_Columbus Day',
       'Holiday_Independence Day', 'Holiday_Independence Day (Observed)',
       'Holiday_Labor Day', 'Holiday_Martin Luther King, Jr. Day',
       'Holiday_Memorial Day', 'Holiday_New Year's Day', 'Holiday_None',
       'Holiday_Thanksgiving', 'Holiday_Veterans Day',
       'Holiday_Washington's Birthday'],
      dtype='object')

In [50]:
dataset_nodate.to_csv('./dataset/no_date_set.csv')

In [51]:
dataset.to_csv('./dataset/yes_date_set.csv')