In [1]:
import pandas as pd

In [5]:
weather = pd.read_csv('./dataset/weather.csv')
print(weather.shape)
print(weather.columns)
trip = pd.read_csv('./dataset/groupedByZip_count.csv')
print(trip.shape)
print(trip.columns)

(5495, 24)
Index(['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f',
       'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f',
       'max_humidity', 'mean_humidity', 'min_humidity',
       'max_sea_level_pressure_inches', 'mean_sea_level_pressure_inches',
       'min_sea_level_pressure_inches', 'max_visibility_miles',
       'mean_visibility_miles', 'min_visibility_miles', 'max_wind_Speed_mph',
       'mean_wind_speed_mph', 'max_gust_speed_mph', 'precipitation_inches',
       'cloud_cover', 'events', 'wind_dir_degrees', 'zip_code'],
      dtype='object')
(5245, 4)
Index(['Unnamed: 0', 'city_zip', 'date', 'trip_count'], dtype='object')

In [6]:
weather.head(10)

,date,max_temperature_f,mean_temperature_f,min_temperature_f,max_dew_point_f,mean_dew_point_f,min_dew_point_f,max_humidity,mean_humidity,min_humidity,...,mean_visibility_miles,min_visibility_miles,max_wind_Speed_mph,mean_wind_speed_mph,max_gust_speed_mph,precipitation_inches,cloud_cover,events,wind_dir_degrees,zip_code
0,8/29/13,74.0,68.0,61.0,61.0,58.0,56.0,93.0,75.0,57.0,...,10.0,10.0,23.0,11.0,28.0,0,4.0,NaN,286.0,94107
1,8/30/13,78.0,69.0,60.0,61.0,58.0,56.0,90.0,70.0,50.0,...,10.0,7.0,29.0,13.0,35.0,0,2.0,NaN,291.0,94107
2,8/31/13,71.0,64.0,57.0,57.0,56.0,54.0,93.0,75.0,57.0,...,10.0,10.0,26.0,15.0,31.0,0,4.0,NaN,284.0,94107
3,9/1/13,74.0,66.0,58.0,60.0,56.0,53.0,87.0,68.0,49.0,...,10.0,10.0,25.0,13.0,29.0,0,4.0,NaN,284.0,94107
4,9/2/13,75.0,69.0,62.0,61.0,60.0,58.0,93.0,77.0,61.0,...,10.0,6.0,23.0,12.0,30.0,0,6.0,NaN,277.0,94107
5,9/3/13,73.0,67.0,60.0,59.0,56.0,51.0,84.0,65.0,46.0,...,10.0,10.0,24.0,15.0,31.0,0,2.0,NaN,276.0,94107
6,9/4/13,74.0,68.0,61.0,59.0,57.0,56.0,90.0,72.0,53.0,...,10.0,10.0,29.0,19.0,35.0,0,4.0,NaN,269.0,94107
7,9/5/13,72.0,66.0,60.0,57.0,56.0,54.0,90.0,74.0,57.0,...,10.0,10.0,31.0,21.0,37.0,0,3.0,NaN,270.0,94107
8,9/6/13,85.0,71.0,56.0,57.0,51.0,45.0,86.0,58.0,29.0,...,10.0,10.0,24.0,8.0,28.0,0,0.0,NaN,287.0,94107
9,9/7/13,88.0,73.0,58.0,64.0,54.0,46.0,86.0,59.0,31.0,...,10.0,10.0,21.0,8.0,25.0,0,1.0,NaN,305.0,94107

In [8]:
weather['date'] = pd.to_datetime(weather['date'])
weather['date'] = weather['date'].dt.date
zip_weather = weather.groupby('zip_code')

In [9]:
weather

,date,max_temperature_f,mean_temperature_f,min_temperature_f,max_dew_point_f,mean_dew_point_f,min_dew_point_f,max_humidity,mean_humidity,min_humidity,...,mean_visibility_miles,min_visibility_miles,max_wind_Speed_mph,mean_wind_speed_mph,max_gust_speed_mph,precipitation_inches,cloud_cover,events,wind_dir_degrees,zip_code
0,2013-08-29,74.0,68.0,61.0,61.0,58.0,56.0,93.0,75.0,57.0,...,10.0,10.0,23.0,11.0,28.0,0,4.0,NaN,286.0,94107
1,2013-08-30,78.0,69.0,60.0,61.0,58.0,56.0,90.0,70.0,50.0,...,10.0,7.0,29.0,13.0,35.0,0,2.0,NaN,291.0,94107
2,2013-08-31,71.0,64.0,57.0,57.0,56.0,54.0,93.0,75.0,57.0,...,10.0,10.0,26.0,15.0,31.0,0,4.0,NaN,284.0,94107
3,2013-09-01,74.0,66.0,58.0,60.0,56.0,53.0,87.0,68.0,49.0,...,10.0,10.0,25.0,13.0,29.0,0,4.0,NaN,284.0,94107
4,2013-09-02,75.0,69.0,62.0,61.0,60.0,58.0,93.0,77.0,61.0,...,10.0,6.0,23.0,12.0,30.0,0,6.0,NaN,277.0,94107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5490,2016-08-27,78.0,70.0,61.0,56.0,54.0,53.0,72.0,59.0,46.0,...,10.0,10.0,17.0,7.0,20.0,0,4.0,NaN,231.0,95113
5491,2016-08-28,79.0,70.0,60.0,56.0,55.0,54.0,84.0,65.0,45.0,...,10.0,10.0,17.0,7.0,21.0,0,4.0,NaN,307.0,95113
5492,2016-08-29,76.0,68.0,60.0,55.0,54.0,53.0,78.0,64.0,49.0,...,10.0,8.0,21.0,10.0,26.0,0,6.0,NaN,319.0,95113
5493,2016-08-30,81.0,70.0,59.0,56.0,54.0,52.0,78.0,60.0,42.0,...,10.0,10.0,18.0,6.0,23.0,0,2.0,NaN,315.0,95113
5494,2016-08-31,78.0,69.0,60.0,57.0,55.0,52.0,84.0,64.0,43.0,...,10.0,10.0,20.0,9.0,24.0,0,1.0,NaN,316.0,95113

In [72]:
def selectDateZip(row):
    qzip = row['zip_code']
    qdate = str(row['date'])
    #print(str(qdate),type(qzip))
    res = trip.loc[(trip['city_zip'] == qzip) & (trip['date'] == qdate)]['trip_count'].to_numpy()

    if res.shape == (0,):
        return 0
    return res[0]

In [75]:
weather['trip_count'] = weather.apply(selectDateZip,axis=1)

@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@
@

In [76]:
weather.describe()

,max_temperature_f,mean_temperature_f,min_temperature_f,max_dew_point_f,mean_dew_point_f,min_dew_point_f,max_humidity,mean_humidity,min_humidity,max_sea_level_pressure_inches,...,max_visibility_miles,mean_visibility_miles,min_visibility_miles,max_wind_Speed_mph,mean_wind_speed_mph,max_gust_speed_mph,cloud_cover,wind_dir_degrees,zip_code,trip_count
count,5491.000000,5491.000000,5491.000000,5441.000000,5441.000000,5441.000000,5441.000000,5441.000000,5441.000000,5494.000000,...,5473.000000,5473.000000,5473.000000,5494.000000,5494.000000,4060.000000,5494.000000,5494.000000,5495.000000,5495.000000
mean,70.435076,61.305227,51.953378,53.295901,49.026098,44.593641,85.813270,67.717883,47.130491,30.077301,...,10.417139,9.786041,8.226567,16.429195,6.141063,22.216749,2.884419,264.795959,94325.000000,179.007825
std,8.808048,7.350903,7.288538,6.648883,7.445961,8.867536,8.996346,10.828798,14.345560,0.135740,...,1.910396,1.319172,2.857964,7.279097,3.327713,8.615021,2.311985,99.194033,404.596825,359.500678
min,44.000000,32.000000,1.000000,20.000000,13.000000,2.000000,24.000000,24.000000,4.000000,29.500000,...,5.000000,4.000000,0.000000,0.000000,0.000000,6.000000,0.000000,-1.000000,94041.000000,0.000000
25%,64.000000,56.000000,47.000000,50.000000,45.000000,39.000000,82.000000,62.000000,38.000000,29.980000,...,10.000000,10.000000,7.000000,13.000000,4.000000,18.000000,1.000000,249.000000,94063.000000,7.000000
50%,70.000000,62.000000,53.000000,54.000000,50.000000,46.000000,86.000000,69.000000,48.000000,30.060000,...,10.000000,10.000000,10.000000,16.000000,6.000000,22.000000,3.000000,296.000000,94107.000000,19.000000
75%,77.000000,67.000000,57.000000,58.000000,55.000000,52.000000,93.000000,75.000000,57.000000,30.170000,...,10.000000,10.000000,10.000000,20.000000,8.000000,25.000000,5.000000,329.000000,94301.000000,64.000000
max,134.000000,94.000000,75.000000,68.000000,65.000000,63.000000,100.000000,97.000000,93.000000,30.650000,...,20.000000,20.000000,20.000000,128.000000,23.000000,114.000000,8.000000,2772.000000,95113.000000,1381.000000

In [78]:
weather.to_csv('./dataset/weatherwithtripcount.csv')

In [83]:
weather.corr()['trip_count'].abs().sort_values()

mean_temperature_f                0.004272
max_humidity                      0.013667
min_visibility_miles              0.015172
min_sea_level_pressure_inches     0.019442
mean_humidity                     0.019555
max_dew_point_f                   0.024019
mean_sea_level_pressure_inches    0.026002
wind_dir_degrees                  0.028467
max_sea_level_pressure_inches     0.029406
mean_dew_point_f                  0.030709
min_temperature_f                 0.032866
max_temperature_f                 0.048165
mean_visibility_miles             0.050289
min_dew_point_f                   0.059793
max_gust_speed_mph                0.088330
min_humidity                      0.103990
max_visibility_miles              0.105036
max_wind_Speed_mph                0.154427
cloud_cover                       0.174598
zip_code                          0.201695
mean_wind_speed_mph               0.293717
trip_count                        1.000000
Name: trip_count, dtype: float64

## Next step
Now we have this pearson correlation, we can find that as expected there're some features are not really related with trip count.
The next step would be we combine date features into this big data sheet. after that, we can drop some features to keep our dataset clean and neat.

The reason why I create a new note each time I start working on the dataset, is because I'm too lazy to refactor/rerun my old code. So in the end we might need someone to merge these scattered code snippets into a few script files.