In [1]:
import pandas as pd

In [7]:
trips = pd.read_csv('./dataset/cityzip_trips.csv')
weather = pd.read_csv('./dataset/weather.csv')

In [11]:
trips.columns

Index(['trip_id', 'duration', 'start_date', 'start_station_name',
       'start_station_id', 'end_date', 'end_station_name', 'end_station_id',
       'bike_id', 'subscription_type', 'zip_code', 'city_zip'],
      dtype='object')

In [13]:
min_trips = trips[['start_date', 'city_zip']]

In [16]:
min_trips['date'] = pd.to_datetime(min_trips['start_date']).dt.date

d:\env\python\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
min_trips.drop('start_date',inplace=True, axis=1)

d:\env\python\lib\site-packages\pandas\core\frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [23]:
groupby_zip = min_trips.groupby('city_zip')

In [58]:
res = []
for n,g in groupby_zip:
    gbd = g.groupby('date').count()
    #print(gbd['city_zip'])
    length = gbd.size
    gbd['date'] = gbd.index
    gbd['trip_count'] = gbd['city_zip']
    gbd['city_zip'] = [n] * length
    gbd.reset_index(level=0,drop=True,inplace=True)
    res.append(gbd)

In [59]:
res

[      city_zip        date  trip_count
 0        94041  2013-08-29          12
 1        94041  2013-08-30          18
 2        94041  2013-08-31          23
 3        94041  2013-09-01          16
 4        94041  2013-09-02          10
 ...        ...         ...         ...
 1079     94041  2016-08-27           4
 1080     94041  2016-08-28          15
 1081     94041  2016-08-29          27
 1082     94041  2016-08-30          25
 1083     94041  2016-08-31          23

 [1084 rows x 3 columns],      city_zip        date  trip_count
 0       94063  2013-08-29           9
 1       94063  2013-08-30           9
 2       94063  2013-08-31           4
 3       94063  2013-09-01           5
 4       94063  2013-09-02           4
 ..        ...         ...         ...
 889     94063  2016-06-26           1
 890     94063  2016-06-27           2
 891     94063  2016-06-28           2
 892     94063  2016-06-30           2
 893     94063  2016-07-01           1

 [894 rows x 3 columns],       city_zip        date  trip_count
 0        94107  2013-08-29         642
 1        94107  2013-08-30         606
 2        94107  2013-08-31         557
 3        94107  2013-09-01         601
 4        94107  2013-09-02         594
 ...        ...         ...         ...
 1094     94107  2016-08-27         268
 1095     94107  2016-08-28         238
 1096     94107  2016-08-29        1107
 1097     94107  2016-08-30        1128
 1098     94107  2016-08-31        1093

 [1099 rows x 3 columns],       city_zip        date  trip_count
 0        94301  2013-08-29          23
 1        94301  2013-08-30          11
 2        94301  2013-08-31          30
 3        94301  2013-09-01          11
 4        94301  2013-09-02           4
 ...        ...         ...         ...
 1065     94301  2016-08-27           1
 1066     94301  2016-08-28           6
 1067     94301  2016-08-29          14
 1068     94301  2016-08-30           4
 1069     94301  2016-08-31           5

 [1070 rows x 3 columns],       city_zip        date  trip_count
 0        95113  2013-08-29          62
 1        95113  2013-08-30          70
 2        95113  2013-08-31          26
 3        95113  2013-09-01          73
 4        95113  2013-09-02          49
 ...        ...         ...         ...
 1093     95113  2016-08-27          18
 1094     95113  2016-08-28          26
 1095     95113  2016-08-29          48
 1096     95113  2016-08-30          56
 1097     95113  2016-08-31          55

 [1098 rows x 3 columns]]

In [60]:
data_set = pd.concat(res)

In [62]:
data_set.to_csv('./dataset/groupedByZip_count.csv')